/* Dentist Office - Layout */
/* Authors: Duarte Rodrigues, Mariana Xavier */

/* Main Layout */

body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: [start] auto [first] auto [services] 10fr [end];
}

body>header {
    grid-row: start/first;
}

#first {
    grid-row: first/services;
}

/* Header Layout */

body>header {
    display: grid;
    grid-template-columns: [logo] 1fr [menu] 2fr [end];
    grid-template-rows: auto auto;
}

body>header img:first-child {
    grid-column: logo/menu;
    grid-row: 1;
}

body>header nav {
    grid-column: menu/end;
    grid-row: 1;
}

#beauty {
    grid-column: menu/end;
    grid-row: 2;
}

body>header h1 {
    grid-column: logo/menu;
    grid-row: 2;
}

body>header h2 {
    grid-column: logo/menu;
    grid-row: 2;
}

body>header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body>header li {
    flex: 1;
}

/* Layout of section with id="service" */

#services {
    display: grid;
    grid-template-rows: [start] auto [desc] auto [images] auto [titles] auto [description] auto [prices] auto [end];
}

#services h1 {
    grid-row: start/desc;
}

#services>p {
    grid-row: desc/images;
}

#icons {
    grid-row: images/titles;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

#icons img:first-child {
    grid-column: 1;
}

#icons img:nth-child(2) {
    grid-column: 2;
}

#icons img:nth-child(3) {
    grid-column: 3;
}

#icons img:nth-child(4) {
    grid-column: 4;
}

#icons img:last-child {
    grid-column: 5;
}

#titles {
    grid-row: titles/description;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

#titles h2:first-child {
    grid-column: 1;
}

#titles h2:nth-child(2) {
    grid-column: 2;
}

#titles h2:nth-child(3) {
    grid-column: 3;
}

#titles h2:nth-child(4) {
    grid-column: 4;
}

#titles h2:last-child {
    grid-column: 5;
}

#description {
    grid-row: description/prices;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

#description p:first-child {
    grid-column: 1;
}

#description p:nth-child(2) {
    grid-column: 2;
}

#description p:nth-child(3) {
    grid-column: 3;
}

#description p:nth-child(4) {
    grid-column: 4;
}

#description p:last-child {
    grid-column: 5;
}

#prices {
    grid-row: prices/end;
}

/* Section with id="team" */

#team {
    display: grid;
    grid-template-rows: [start] auto [images] auto [dentist_names] auto [dentist_desc] auto [auxiliar] auto [end];
}

#teamTitle {
    grid-row: start/images;
}

#dentistPhoto {
    grid-row: images/dentist_names;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#dentistNames {
    grid-row: dentist_names/dentist_desc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#dentistDescription {
    grid-row: dentist_desc/auxiliar;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#auxiliar {
    grid-row: auxiliar/end;
}

/* Section with id="contacts" */

#contacts {
    display: grid;
    grid-template-rows: [title] auto [place] auto [hours] auto [contacts] auto [end];
    grid-template-columns: [info] 1fr [map] 1fr [end];
}

#contacts h1 {
    grid-row: title/place;
    grid-column: info/end;
}

#office {
    grid-row: place/hours;
    grid-column: info/map;
}

#schedule {
    grid-row: hours/contacts;
    grid-column: info/map;
}

#contactInfo {
    grid-row: contacts/end;
    grid-column: info/map;
}

#map {
    grid-row: place/end;
    grid-column: map/end;
}

/* Footer */