/* Tables */

table {
    margin: 2em 17em;
    border-collapse: collapse;
}

#tableTitle {
    font-size: 3em;
    margin-left: 13em;
    margin-right: 13em;
    margin-bottom: 0.3em;
    text-align: center;
    background: rgba(96, 185, 201, 0.932);
    background-clip: content-box;
    color: white;
    border: 5px double rgb(57, 124, 136);
}

table tr:first-of-type {
    background-color: #c0c0b5;
}

table th {
    font-size: 1.5em;
    border: 1px solid black;
    padding: 0.3em 0;
}

table td {
    text-align: center;
    border: 1px solid black;
    padding: 0.3em 0;
    text-transform: capitalize;
}

table #price:after {
    content: "€";
}

tr:hover {
    background-color: #dbdbd5;
}