/* Dentist Office - Layout */
/* Authors: Duarte Rodrigues, Mariana Xavier */

/* Main Layout */

body {
    margin: 0;
    display: grid;
    grid-template-rows: [start] auto [first] auto [services] 10fr [end];
}

body > header {
    grid-row: start/first;
}

#first {
    grid-row: first/services; 
}

/* Header Layout */

body > header {
    display: grid;
    grid-template-columns: [logo] 0.1fr [menu] auto [end];
    grid-template-rows: auto auto;
}

body > header img:first-child {
    grid-column: logo/menu;
    grid-row: 1;
}

body > header ul {
    grid-column: menu/end;
    grid-row: 1;
 }

body > header img:nth-child(2) {
    grid-column: logo/end;
    grid-row: 2;
}

body > header h1 {
    grid-column: logo/menu;
    grid-row: 2;
}

body > header h2 {
    grid-column: logo/menu;
    grid-row: 2;
}

body > header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > header li {
    flex: 1;
}

/* Layout of section with id="service" */

#services {
    display: grid;
    grid-template-rows: [start] auto [desc] auto [images] auto [titles] auto [description] auto [prices] auto [end];
}

#services h1 {
    grid-row: start/desc;
}

#services > p {
    grid-row: desc/images;
}

#icons {
    grid-row: images/titles;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#titles {
    grid-row: titles/description;
    display: flex;
    flex-direction: row;
}

#description {
    grid-row: description/prices;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.prices {
    grid-row: prices/end;
}

/* Section with id="team" */

