/* Layout */

/* Main Layout */

body {
    margin: 0;
    display: grid;
    grid-template-rows: [start] auto [first] auto [services] 10fr [end];
}

body > header {
    grid-row: start/first;
}

#first {
    grid-row: first/services; 
}

/* Header Layout */

body > header {
    display: grid;
    grid-template-columns: [logo] 0.1fr [menu] auto [end];
    grid-template-rows: auto auto;
}

body > header img:first-child {
    grid-column: logo/menu;
    grid-row: 1;
}

body > header ul {
    grid-column: menu/end;
    grid-row: 1;
 }

body > header img:nth-child(2) {
    grid-column: logo/end;
    grid-row: 2;
}

body > header h1 {
    grid-column: logo/menu;
    grid-row: 2;
}

body > header h2 {
    grid-column: logo/menu;
    grid-row: 2;
}

/* Navigation Layout */

body > header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > header li {
    flex: 1;
}

/* First */

#first {
    text-align: center;
}

/* Language Layout */

body > header > div.language {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* First */

#services {
    display: grid;
    grid-template-rows: [start] auto [desc] auto [images] auto [titles] auto [description] auto [end];
}

#services h1 {
    grid-row: start/desc;
    margin-bottom: 0.3em;
}

#services p:first-child {
    grid-row: desc/images;
}

#services h1 {
    text-align: center;
}

#services p {
    text-align: center;
}

#icons {
    margin-top: 4em;
    grid-row: images/titles;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#titles {
    grid-row: titles/description;
    display: flex;
    flex-direction: row;
    padding: 0;
}

#titles h2:first-child {
    padding-left: 5.9em;
}

#titles h2:nth-child(2) {
    padding-left: 7.7em;
}

#titles h2:nth-child(3) {
    padding-left: 7em;
}

#titles h2:nth-child(4) {
    padding-left: 6.5em;
}

#titles h2:last-child {
    padding-left: 5em;
}

#description {
    grid-row: description/end;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
