/* Dentist Office - Style */
/* Authors: Duarte Rodrigues, Mariana Xavier */


/* Header */

body > header {
    background-color: white;
    color: rgb(14, 183, 212);
}

body > header img:first-child {
    width: 15em;
    height: 10em;
    position: top left;
    padding-right: 17.4em;
}
 
body > header ul {
    height: auto;
    margin: 0;
    padding: 0;
}

body > header li {
    background-color: white;
    text-align: center;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

body > header a {
    color: rgb(14, 183, 212);
    text-decoration: none;
}

body > header li:hover {
    font-weight: bold;
}

body > header h1, h2 {
    padding-top: 1em;
    padding-left: 1em;
}

body > header h1 {
    font-family: 'Bookman';
    font-size: 3em;
}

body > header h2 {
    margin: 1em;
    padding-top: 5em;
    font-family: 'Bookman';
}

body > header img:nth-child(2) {
    width: 120em;
    height: 120em;
}

/* Section with id="first" */

#first {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    color: black;
}

#first a {
    color: black;
}

#first h2 {
    background-color: rgba(96, 185, 201, 0.932);
    margin: 0;
    padding: 10px;
}

/* Section with id="services" */

#services h1 {
    font-size: 3em;
    margin-bottom: 0.3em;
    text-align: center;
}

#services > p {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 4em;
}

#icons img {
    height: 10em;
}

#titles {
    padding: 0;
}

#titles h2:first-child {
    padding-left: 5.9em;
}

#titles h2:nth-child(2) {
    padding-left: 7.7em;
}

#titles h2:nth-child(3) {
    padding-left: 7em;
}

#titles h2:nth-child(4) {
    padding-left: 6.5em;
}

#titles h2:last-child {
    padding-left: 5em;
}

#description p {
    max-width: 15em;
    padding: 0;
    text-align: center;
}

#description:first-child {
    padding-left: 2em;
}

#description:nth-child(2) {
    margin-left: 1.5em;
}

#description:nth-child(3) {
    margin-left: 1.5em;
}

#description:nth-child(4) {
    margin-left: 1.2em;
}

#description:last-child {
    margin-right: 5em;
}

.prices {
    margin-top: 4em;
    background-color: rgba(96, 185, 201, 0.932);
    color: white;
    text-align: center;
    font-size: 1.3em;
}

.prices input {
    background-color: white;
    border: 2px solid rgb(57, 124, 136);
    color: rgb(57, 124, 136);
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    text-align: center;
    font-size: 1em;
    display: inline;
    margin-bottom: 1em;
}

.prices input:hover {
    font-weight: bold;
}

/* Section with id="team" */

#team h1 {
    font-size: 3em;
    margin-bottom: 0.3em;
    text-align: center;
}

#team > p {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 2em;
}

#team h2 {
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
}

#dentist1 {
    position: left;
}

#dentist2 {
    position: left;
    width: 500px;
    height: 334px;
}

/* Section with id="contacts" */

#contacts h1 {
    font-size: 3em;
    margin-bottom: 0.3em;
    text-align: center;
}