<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/layout.css" rel="stylesheet">
    <link href="css/profilePage.css" rel="stylesheet">
    <link href="css/priceTable.css" rel="stylesheet">
    <link href="css/material.css" rel="stylesheet">
    <link href="css/mat_per_service.css" rel="stylesheet">
    <link href="css/managePeople.css" rel="stylesheet">
    <link href="css/dentistAppointments.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Dental Auxiliary</title>
</head>

<body>

    <!-- Header -->
    <header>
        <a href='index.php' title="Home">
            <img src="images/logo.png" alt="Dentist Clinic Logo">
        </a>
        <nav>
            <ul>
                <li><a href='dentalAuxiliary.php' title="Profile"> Profile </a></li>
                <li><a href='dentalAuxiliary.php#Schedule' title="Schedule"> Schedule </a></li>
                <li><a href='dentalAuxiliary_appointments.php' title="Appointments"> Appointments </a></li>
                <li><a href= 'manage_material.php' title="Material"> Manage Material </a></li>
                <li><a href= 'manage_clients.php' title="Manage Clients"> Manage Clients </a></li>
                <li><a href='action_logout.php' title="Logout"> Logout </a></li>
            </ul>
        </nav>
    </header>