/* Dentist Office - Appointments Style and Layout */
/* Authors: Duarte Rodrigues, Mariana Xavier */

/* Display the information of the appointments */

.appointment h2 {
    font-size: 2em;
    font-weight: normal;
    padding: 0;
    margin-left: 20em;
    margin-right: 20em;
    margin-bottom: 3em;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    background-clip: content-box;
    color: rgb(57, 124, 136);
    border: 3px solid rgb(57, 124, 136);
}

.appointment>section {
    margin: 2em 8em;
    background-color: #edeff0;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.2em;
}

.appointment>section h3 {
    margin-left: 1.8em;
}

.appointment>section ul {
    grid-column: 1;
    padding: 0;
    margin-left: 2em;
}

.appointment>section li {
    text-align: justify;
    list-style: none;
    text-transform: capitalize;
}

.appointment>section form {
    grid-column: 2;
    grid-row: 2;
    margin-right: 2em;
    margin-bottom: 1em;
}

/* Style for the pagination of the past and future appointments */

#pagination {
    text-align: center;
    font-size: 110%;
    padding-top: 0.1%;
    padding-bottom: 2%;
}

#pagination a {
    margin: 0 5%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Style for the search for clients */

#search label {
    font-size: 130%;
    margin-left: 1%;
}

#search button:first-of-type {
    font-size: 110%;
    background-color: transparent;
    border: none;
}

#searchIcon {
    color:rgb(48, 146, 163);
    font-weight: bold;
}

#trash {
    font-size: 130%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 20%;
}