/* Dentist Office - Book Appointments Style and Layout */
/* Authors: Duarte Rodrigues, Mariana Xavier */

/* Display the section for booking appointments to the clients */

h2 {
    font-size: 200%;
    font-weight: normal;
    padding: 0;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 2%;
    text-align: center;
    background-clip: content-box;
    color: rgb(57, 124, 136);
    border: 3px solid rgb(57, 124, 136);
    background-color: unset;
}

body>p {
    text-align: center;
    margin: 0.3% 0;
    font-size: 120%;
}

body>p:nth-of-type(2) {
    margin-bottom: 2%;
}

body>p>a {
    color: black;
}

body>p>a:hover {
    font-weight: bold;
}

#bookApp {
    background-color: rgb(243, 241, 241);
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid black;
    text-align: justify;
    height: 25em;
    margin-bottom: 5%;
}

#bookApp>form {
    margin-left: 5%;
    margin-top: 3%;
}

form>label {
    font-size: 140%;
    margin-right: 3%;
}

form>input:not([type="submit"]):not([type="radio"]), form>select {
    width: 25%;
    height: 2em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#tick {
    color: rgb(32, 201, 32);
}

#bookApp>p {
    font-size: 1.1em;
}

form>select option {
    text-transform: capitalize;
}

#final {
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 32%;
    width: 30%;
    height: 12%;
    border: none;
    background: -webkit-linear-gradient(right, #279494, #0eb7d4, #0eb7d4, #279494);
    color: white;
    font-size: 1.4em;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1em;
}

#final:hover {
    background: -webkit-linear-gradient(right, #14c8e7, #33acac, #33acac, #14c8e7);
    font-weight: bold;
}