/* Dentist Office */
/* Authors: Duarte Rodrigues, Mariana Xavier */

/* CSS for displaying the personal information of the dentist */

#dentistTitle {
    font-size: 3em;
    margin-left: 13em;
    margin-right: 13em;
    margin-bottom: 0.3em;
    text-align: center;
    background: rgba(96, 185, 201, 0.932);
    background-clip: content-box;
    color: white;
    border: 5px double rgb(57, 124, 136);
}

#dentistInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3em 15em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: white;
    border: 3px solid rgb(3, 148, 173);
}

#dentistInfo img {
    padding-right: 2em;
}

#info {
    font-size: 1.2em;
    padding-left: 2em;
    padding-top: 1em;
}