/* Intial Parte of the management */
h2 {
    font-size: 200%;
    font-weight: normal;
    padding: 0;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 3%;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    background-clip: content-box;
    color: rgb(57, 124, 136);
    border: 3px solid rgb(57, 124, 136);
}

#manage>form:first-of-type {
    font-size: 150%;
    text-align: center;
    margin-bottom: 2em;
}

/* Butons to choose to add or remove */
#inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#inputs input {
    font-size: 120%;
    margin-top:2%;
    background-color: white;
}

#inputs input:first-of-type {
    margin-left:25%;
    margin-right:5%;
    border: 2px solid green;
}

#inputs input:first-of-type:hover {
    background-color: green;
    color: white;
    transition-duration: 0.4s;
}

#inputs input:last-of-type {
    margin-right:25%;
    margin-left:5%;
    border: 2px solid red;
}

#inputs input:last-of-type:hover {
    background-color: red;
    color: white;
    transition-duration: 0.4s;
}

/* Form to add new person to clinic database */
#hire, #add_client, #fire, #remove_client {
    background-color: rgb(243, 241, 241);
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid black;
    margin-bottom: 5%;
}

#add_client{
    padding-bottom: 2%;
}

#hire label, #hire > input, #add_client label, #add_client > input, #fire select, #remove_client select{
    font-size: 130%;
}

#hire label, #add_client label {
    margin-left: 10%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#hire p, #add_client p {
    font-size: 100%;
    margin:0;
    margin-top:0.5%;
    margin-left: 10%;
}

/* Form to remove person from database */

#submit_add, #submit_remove {
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 38%;
    width: 24%;
    height: 10%;
    border: none;
    background: -webkit-linear-gradient(right, #279494, #0eb7d4, #0eb7d4, #279494);
    color: white;
    font-size: 1.2em;
    cursor: pointer; 
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1em;
}

#fire select, #remove_client select{
    margin:2% 18%;
}

#submit_remove{
    margin-left: 38%;
}

#submit_add:hover, #submit_remove:hover {
    background: -webkit-linear-gradient(right, #14c8e7, #33acac, #33acac, #14c8e7);
    font-weight: bold;
}

#err {
    font-size: 1em;
    margin-left: 2.2em;
    color: red;
}

#final {
    font-size: 1em;
    margin-left: 2.2em;
    color: green;
}



