/* Dentist Office */

/* Authors: Duarte Rodrigues, Mariana Xavier */

/* Material Page style formatting */


#stock, #manage_title {
    font-size: 250%;
    margin-left: 37%;
    margin-right: 37%;
    margin-bottom: 1.5%;
    text-align: center;
    background: rgba(96, 185, 201, 0.932);
    background-clip: content-box;
    color: white;
    border: 5px double rgb(57, 124, 136);
}

#service_applied{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

#service_applied > label{
    padding:2% 30%;
    font-size: 110%;
}

#service_applied > select{
    margin:0 30%;
    font-size: 120%;
}

#service_applied > input{
    margin:2% 30%;
    font-size: 110%; 
}

#mat_per_serv{
    text-align: center;
    font-size: 120%;
}

#management{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#management > h2{
    grid-row:1;
    font-size: 200%;
    font-weight: normal;
    padding: 0;
    margin-left: 38%;
    margin-right: 38%;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    background-clip: content-box;
    color: rgb(57, 124, 136);
    border: 3px solid rgb(57, 124, 136);
} 

#remove_from_stock, #add_to_stock{
    place-self: center;
    grid-row:2;
}

#remove_from_stock{
    grid-column : 1;
}

#add_to_stock{
    grid-column : 2;
}

#remove_from_stock>p, #add_to_stock>p{
    text-align: center;
}

#remove_mat, #add_mat{
    border: none;
    width: 20%;
    height:45%;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 170%;
    place-self: center;
    cursor: pointer;
    transition-duration: 0.4s;
    grid-row:3;
}

#add_mat {
    background-color: white;
    color: black;
    border: 3px solid #4CAF50;
    grid-column : 2;
}

#add_mat:hover {
    background-color: #4CAF50;
    color: white;
    
}

#remove_mat {
    background-color: white;
    color: black;
    border: 3px solid red;
    grid-column : 1;
}

#remove_mat:hover {
    background-color: red;
    color: white;
}

