/* Dentist Office */

/* Authors: Duarte Rodrigues, Mariana Xavier */

/* Material Page style formatting */

div>button {
    border: none;
    width: 15%;
    color: white;
    /* padding: 5% 30%; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 150%;
    margin: 2% 0;
    cursor: pointer;
    transition-duration: 0.4s;
}

#add_mat {
    background-color: white;
    color: black;
    border: 3px solid #4CAF50;
    margin-left:25%;
    margin-right: 10%;
}

#add_mat:hover {
    background-color: #4CAF50;
    color: white;
    
}

#remove_mat {
    background-color: white;
    color: black;
    border: 3px solid red;
    margin-left:9%;
    margin-right: 25%;
}

#remove_mat:hover {
    background-color: red;
    color: white;
}

#add_to_stock{
    visibility: hidden;
}