/* Dentist Office - Manage Material Style and Layout */
/* Authors: Duarte Rodrigues, Mariana Xavier */

/* Auxiliary material management Section */

#manage_mat {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#manage_mat>h2 {
    font-size: 200%;
    font-weight: normal;
    padding: 0;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    background-clip: content-box;
    color: rgb(57, 124, 136);
    border: 3px solid rgb(57, 124, 136);
    margin-bottom: 1%;
}

#manage_mat>p {
    text-align: center;
    width: 100%;
    font-size: 140%;
    font-family: Arial, Helvetica, sans-serif;
}

#manage_mat input {
    background-color: white;
    border: 3px solid rgb(57, 124, 136);
    color: rgb(57, 124, 136);
    padding: 0.3% 0.5%;
    border-radius: 0.5em;
    text-align: center;
    font-size: 110%;
    display: inline;
    margin-bottom: 1%;
    cursor: pointer;
    margin-left: 45%;
    margin-right: 45%;
}

#stock, #manage_title {
    font-size: 250%;
    margin-left: 37%;
    margin-right: 37%;
    margin-bottom: 1.5%;
    text-align: center;
    background: rgba(96, 185, 201, 0.932);
    background-clip: content-box;
    color: white;
    border: 5px double rgb(57, 124, 136);
}

#service_applied{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

#service_applied > label{
    padding:2% 30%;
    font-size: 110%;
}

#service_applied > select{
    margin:0 30%;
    font-size: 120%;
}

#service_applied > input{
    margin:2% 30%;
    font-size: 110%; 
}

#mat_per_serv{
    text-align: center;
    font-size: 120%;
}

#mat_per_serv a {
    color: black;
}

#mat_per_serv a:hover {
    color:rgb(57, 124, 136);
}

#management{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#management > h2 {
    grid-row:1;
    font-size: 200%;
    font-weight: normal;
    padding: 0;
    margin-left: 38%;
    margin-right: 38%;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    background-clip: content-box;
    color: rgb(57, 124, 136);
    border: 3px solid rgb(57, 124, 136);
} 

#remove_from_stock, #add_to_stock{
    place-self: center;
    grid-row:2;
}

#remove_from_stock{
    grid-column : 1;
}

#add_to_stock{
    grid-column : 2;
}

#remove_from_stock>p, #add_to_stock>p{
    text-align: center;
}

#remove_mat, #add_mat{
    border: none;
    width: 20%;
    height:45%;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 170%;
    place-self: center;
    cursor: pointer;
    transition-duration: 0.4s;
    grid-row:3;
}

#add_mat {
    background-color: white;
    border: 3px solid #4CAF50;
    grid-column : 2;
}

#add_mat:hover {
    background-color: #4CAF50;
    color: white;
}

#remove_mat {
    background-color: white;
    border: 3px solid red;
    grid-column : 1;
}

#remove_mat:hover {
    background-color: red;
    color: white;
}