/* Tables */
/* Authors: Duarte Rodrigues, Mariana Xavier */

#table {
    margin: 2em 17em;
    border-collapse: collapse;
}

#tableTitle {
    font-size: 300%;
    margin-left: 43%;
    margin-right: 43%;
    margin-bottom: 1%;
    text-align: center;
    background: rgba(96, 185, 201, 0.932);
    background-clip: content-box;
    color: white;
    border: 5px double rgb(57, 124, 136);
}

#table tr:first-of-type {
    background-color: #c0c0b5;
}

#table th {
    font-size: 150%;
    border: 1px solid black;
    padding: 0.3em 0;
}

#table tr:hover td {
    background-color: #dbdbd5;
}

#table td {
    text-align: center;
    border: 1px solid black;
    padding: 0.3em 0;
    text-transform: capitalize;
    background-color: white;
}

#table #price:after {
    content: "€";
}