/* Dentist Office - Profile Page Style and Layout */
/* Authors: Duarte Rodrigues, Mariana Xavier */

/* Display the information of the user */

#profileTitle {
    font-size: 3em;
    margin-left: 13em;
    margin-right: 13em;
    margin-bottom: 0.3em;
    text-align: center;
    background: rgba(96, 185, 201, 0.932);
    background-clip: content-box;
    color: white;
    border: 5px double rgb(57, 124, 136);
}

#profileInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3em 15%;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: white;
    border: 3px solid rgb(3, 148, 173);
}

#profileInfo img {
    padding-right: 2em;
    padding-top: 3%;
    height: 230px;
    width: auto;
}

#info {
    font-size: 130%;
    padding-left: 2%;
    width: 50%;
}

#edit_profile {
    width: 20%;
    font-size: 1.2em;
    padding-left: 2%;
    padding-top: 2.5%;
    margin: 0;
}

#edit_profile>#edit_button {
    position: absolute;
    left: 80%;
    border: none;
    background-color:white;
    font-size: 130%;
    text-align: right;
}

/* Hide the hamburger menu */

#hamburger, .hamburger {
    display: none;
}