/* Dentist Office */
/* Authors: Duarte Rodrigues, Mariana Xavier */

/* CSS for displaying the personal information of the dentist */

#profileTitle {
    font-size: 3em;
    margin-left: 13em;
    margin-right: 13em;
    margin-bottom: 0.3em;
    text-align: center;
    background: rgba(96, 185, 201, 0.932);
    background-clip: content-box;
    color: white;
    border: 5px double rgb(57, 124, 136);
}

#profileInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3em 15em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: white;
    border: 3px solid rgb(3, 148, 173);
}

#profileInfo img {
    padding-right: 2em;
    height: 230px;
    width:auto;
}

#info {
    font-size: 1.2em;
    padding-left: 2em;
    padding-top: 1em;
}

#Schedule>h2 {
    grid-row: 1;
    font-size: 2em;
    font-weight: normal;
    padding: 0;
    margin-left: 21em;
    margin-right: 21em;
    margin-bottom: 2em;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    background-clip: content-box;
    color: rgb(57, 124, 136);
    border: 3px solid rgb(57, 124, 136);
}

#Schedule>form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2em;
}

#Schedule>form input {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

table {
    margin: 2em 27em;
    border-collapse: collapse;
}

table tr:first-of-type th:not(:first-of-type) {
    background-color: #c0c0b5;
}

table tr:not(:first-of-type) th {
    background-color: #c0c0b5;
}

table tr:first-of-type th:first-of-type {
    border-left: 0px;
    border-top: 0px;
}

table th, td {
    font-size: 1em;
    border: 1px solid black;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    width: 20em;
    text-align: center;
    text-transform: capitalize;
    color: black;
    text-decoration: none;  
}

table td:not(:empty) {
    background-color:  rgba(3, 147, 173, 0.644);
}

table td:not(:empty):hover {
    text-decoration: underline;
}

#tableTitle {
    text-align: center;
}

/* Auxiliary Material Management Section */

#manage_mat{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

#manage_mat>h2 {
    font-size: 200%;
    font-weight: normal;
    padding: 0;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    background-clip: content-box;
    color: rgb(57, 124, 136);
    border: 3px solid rgb(57, 124, 136);
    margin-bottom: 1%;
}

#manage_mat>p{
    text-align: center;
    width:100%;
    font-size: 140%;
    font-family: Arial, Helvetica, sans-serif;
}

#manage_mat input{
    background-color: white;
    border: 3px solid rgb(57, 124, 136);
    color: rgb(57, 124, 136);
    padding: 0.3% 0.5%;
    border-radius: 0.5em;
    text-align: center;
    font-size: 110%;
    display: inline;
    margin-bottom: 1%;
    cursor: pointer;
    margin-left:45%;
    margin-right:45%;
}

