/* Responsive */

/* When the width of the window reaches 60em */

@media (max-width: 60em) {

    #main {
        grid-template-columns: [logo] 1fr [menu] 3fr [end];
    }

    body>header:not(main) {
        grid-template-columns: [logo] 1fr [menu] 4fr [end];
    }

    #beauty {
        grid-column: logo/end;
        z-index: 0;
    }

    body>header h1, body>header h2 {
        grid-column: logo/end;
        z-index: 1;
    }

    body>header h1 {
        padding-left: 3%;
        padding-top: 3%
    }

    body>header h2 {
        padding-left: 3%;
        padding-top: 10%;
    }

    body>header img:first-child {
        height: 2em;
    }

    body>header li {
        font-size: 80%;
    }

    body>header h1 {
        font-size: 200%;
    }

    body>header h2 {
        font-size: 130%;
    }

    h2 {
        font-size: 130%;
    }

    #services h1 {
        font-size: 200%;
        margin-left: 30%;
        margin-right: 30%;
    }

    #services>p {
        font-size: 110%;
    }

    #icons img {
        max-height: 5em;
    }

    #description>p {
        font-size: 90%;
    }

    #prices {
        font-size: 110%;
    }

    #teamTitle h1 {
        font-size: 200%;
        margin-left: 35%;
        margin-right: 35%;
    }

    #teamTitle>p {
        font-size: 110%;
    }

    #teamTitle h2 {
        font-size: 180%;
        margin-left: 43%;
        margin-right: 43%;
        margin-top: 8%;
    }

    #dentistDescription p {
        width: 40%;
        font-size: 90%;
    }

    #auxiliar h2 {
        font-size: 180%;
        margin-left: 41%;
        margin-right: 41%;
        margin-top: 8%;
    }

    #auxiliar img {
        width: 60%;
    }

    #auxiliar p {
        font-size: 90%;
    }

    #contacts h1 {
        font-size: 200%;
        margin-left: 39%;
        margin-right: 39%;
    }

    #contacts h3 {
        font-size: 120%;
    }

    #contacts p, li {
        font-size: 90%;
    }

    footer p, footer>ul.breadcrumb li {
        font-size: 90%;
    }

    #tableTitle {
        font-size: 200%;
        margin-left: 41%;
        margin-right: 41%;
    }

    #table th {
        font-size: 130%;
    }

    #table {
        margin: 2em 8em;
    }

    body>h1 {
        font-size: 200%;
    }

    #profileTitle {
        font-size: 200%;
        margin-left: 40%;
        margin-right: 40%;
    }

    #change {
        font-size: 110%;
        margin-left: 48%;
        margin-right: 48%;
    }
    
    #profileInfo {
        margin-left: 5%;
        margin-right: 5%;
    }

    #profileInfo img {
        height: 180px;
    }

    #info {
        font-size: 100%;
    }

    #edit_profile>#edit_button {
        left: 87%;
    }

    #img_sel{
        font-size:110%;
    }

    #profileImg input[type="file"]{
        font-size:75%;
    }

    

    #Schedule>h2 {
        font-size: 180%;
        margin-left: 40%;
        margin-right: 40%;
    }

    #scheduleTitle {
        font-size: 120%;
    }

    #Schedule>form input {
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }

    #scheduleTable {
        margin-left: 10%;
        margin-right: 10%;
    }

    #scheduleTable tbody {
        font-size: 90%;
    }
    
    #search label {
        font-size: 120%;
    }

    #search button:first-of-type {
        font-size: 100%;
    }

    #trash {
        font-size: 110%;
    }

    .appointment h2 {
        font-size: 160%;
        margin-left: 35%;
        margin-right: 35%;
    }

    .appointment:not(h2) {
        font-size: 90%;
    }

    .appointment>section {
        margin-left: 2%;
        margin-right: 2%;
    }

    .appointment>section h3, .appointment>section ul {
        margin-left: 3%;
        margin-right: 3%;
    }

    .appointment>section form {
        margin-left: 3%;
        margin-right: 0;
    }

    .appointment>section form textarea {
        width: 90%;
    }

    #team_mng {
        font-size: 160%;
        margin-left: 37%;
        margin-right: 37%;
    }

    #manage>form:first-of-type {
        font-size: 120%;
    }

    #hire, #fire {
        margin-left: 20%;
        margin-right: 20%;
    }

    #hire label, #hire > input, #add_client label, #add_client > input {
        font-size: 110%;
    }

    #hire label, #add_client label {
        margin-left: 2%;
    }

    #hire p, #add_client p {
        font-size: 90%;
        margin-left: 2%;
    }

    #fire select, #remove_client select{
        font-size: 84%;
        margin:2% 10%;
    }

    #stock, #manage_title {
        font-size: 180%;
        margin-left: 35%;
        margin-right: 35%;
    }

    #service_applied > label {
        padding: 2% 20%;
        font-size: 100%;
    }

    #service_applied > select {
        margin: 0 28%;
        font-size: 100%;
    }

    #service_applied > input {
        margin: 2% 28%;
        font-size: 100%;
    }

    #mat_per_serv {
        font-size: 110%;
    }

    #management > h2 {
        font-size: 160%;
        margin-left: 34%;
        margin-right: 34%;
        margin-bottom: 10%;
    }

    #remove_from_stock p, #add_to_stock p {
        margin-top: 0;
    }

    #remove_from_stock input, #xtra_mat {
        font-size: 80%;
    }

    #stock_to_stock input, #add_material {
        font-size: 80%;
    }

    #remove_mat, #add_mat {
        font-size: 140%;
        width: 30%;
    }

    #mat {
        font-size: 160%;
        margin-left: 21%;
        margin-right: 21%;
    }

    #serv_material {
        grid-template-columns: 1fr 1fr;
    }

    #serv_material #service_list {
        margin: 8% 4%;
    }

    #client_mng {
        font-size: 170%;
        margin-left: 35%;
        margin-right: 35%;
    }

    #add_client {
        margin-left: 20%;
        margin-right: 20%;
    }

    #bookAppTitle {
        font-size: 160%;
        margin-left: 35%;
        margin-right: 35%;
    }

    #bookApp {
        margin-left: 20%;
        margin-right: 20%;
        height: 23em;
    }

    #goUpButton {
        display: none;
    }

}










/* When the width of the window reaches 30em */

@media (max-width: 30em) {
    
    #menu .hamburger {
        display: block;
        background-color: #aeb1b3;
        color: white;
        padding: 1%;
        margin-left: 90%;
        text-align: center;
    }
    
    #menu .hamburger:before {
      content:'\2630';
    }
    
    #menu ul {
      flex-direction: column;
      margin: 0;
      padding: 0;
      color: white;
      width: 80%;
      margin-left: 20%;
    }
    
    #hamburger:checked + .hamburger + ul li{
      max-height: 1em;
      padding: 1em;
      opacity: 1;
    }
    
    #hamburger:checked + .hamburger:before {
      content:'\2715';
    }
    
    #menu li {
      max-height: 0;
      padding: 0 1em;
      background-color: #edeff0;
      text-align: left;
      opacity: 0;
      transition: all .3s ease-in-out;
    }

    body>header li:last-child {
        border-right: 3px solid rgb(3, 148, 173);
    }

    body>header h1 {
        font-size: 160%;
        padding-left: 1%;
        padding-top: 1%;
    }

    body>header h2 {
        font-size: 100%;
        padding-left: 1%;
        padding-top: 9%;
    }

    h2 {
        font-size: 100%;
    }

    #services {
        display: grid;
        grid-template-rows: [start] auto [desc] auto [specs] auto [prices] auto [end];
        grid-template-columns: [start] auto [info] auto [end];
    }

    #services h1 {
        font-size: 150%;
        margin-left: 35%;
        margin-right: 35%;
        grid-column: start/end;
    }
    
    #services>p {
        grid-row: desc/specs;
        font-size: 90%;
        grid-column: start/end;
    }

    #icons {
        grid-row: specs/prices;
        grid-column: start/info;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: auto;
    }

    #icons img {
        margin-left: 15%;
        margin-bottom: 10%;

    }

    #icons img:first-child {
        grid-row: 1;
        grid-column: 1;
    }
    
    #icons img:nth-child(2) {
        grid-row: 2;
        grid-column: 1;
    }
    
    #icons img:nth-child(3) {
        grid-row: 3;
        grid-column: 1;
    }
    
    #icons img:nth-child(4) {
        grid-row: 4;
        grid-column: 1;
    }
    
    #icons img:last-child {
        grid-row: 5;
        grid-column: 1;
    }

    #titles {
        grid-row: specs/prices;
        grid-column: info/end;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: auto;
    }

    #titles h2:first-child {
        grid-row: 1;
        grid-column: 1;
        position: relative;
        margin-top: 0;
    }
    
    #titles h2:nth-child(2) {
        grid-row: 2;
        grid-column: 1;
        margin-top: 0;
    }
    
    #titles h2:nth-child(3) {
        grid-row: 3;
        grid-column: 1;
        margin-top: 0;
    }
    
    #titles h2:nth-child(4) {
        grid-row: 4;
        grid-column: 1;
        margin-top: 0;
    }
    
    #titles h2:last-child {
        grid-row: 5;
        grid-column: 1;
        margin-top: 0;
    }

    #description {
        font-size: 90%;
        grid-row: specs/prices;
        grid-column: info/end;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: auto;
    }

    #description p:first-child {
        grid-row: 1;
        grid-column: 1;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    
    #description p:nth-child(2) {
        grid-row: 2;
        grid-column: 1;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    
    #description p:nth-child(3) {
        grid-row: 3;
        grid-column: 1;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    
    #description p:nth-child(4) {
        grid-row: 4;
        grid-column: 1;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    
    #description p:last-child {
        grid-row: 5;
        grid-column: 1;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    #prices {
        grid-column: start/end;
        font-size: 90%;
    }

    #teamTitle h1 {
        font-size: 150%;
        margin-left: 30%;
        margin-right: 30%;
    }

    #teamTitle>p {
        font-size: 90%;
    }

    #teamTitle h2 {
        font-size: 150%;
        margin-left: 40%;
        margin-right: 40%;
    }

    #team {
        display: grid;
        grid-template-rows: [start] auto [dentist] auto [auxiliar] auto [end];
        grid-template-columns: 1fr 2fr;
    }

    #teamTitle {
        grid-row: start/dentist;
        grid-column: 1/3;
    }

    #dentistPhoto {
        grid-row: dentist/auxiliar;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 1%;
    }

    #dentistPhoto img {
        width: 110%;
        border-radius: 2em;
    }

    #dentistPhoto img:nth-child(2) {
        margin-top: 10%;
    }

    #dentistNames {
        grid-row: dentist/auxiliar;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        justify-content: start;        
    }

    #dentistNames h3:first-child {
        margin-top: 0;
        margin-right: 17%;
        margin-left: 23%;
    }

    #dentistNames h3:nth-child(2) {
        margin-top: 52%;
        margin-right: 13%;
        margin-left: 27%;
    }

    #dentistDescription {
        grid-row: dentist/auxiliar;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        justify-content: start; 
    }

    #dentistDescription p {
        width: 85%;
        margin-left: 9%;
        font-size: 80%;
    }

    #dentistDescription p:first-child {
        margin-top: 9%;
    }

    #dentistDescription p:nth-child(2) {
        margin-top: 15%;
    }

    #auxiliar {
        grid-row: auxiliar/end;
        grid-column: 1/3;
    }

    #auxiliar h2 {
        font-size: 150%;
        margin-left: 37%;
        margin-right: 37%;
    }

    #auxiliar p {
        font-size: 80%;
    }

    #contacts h1 {
        font-size: 150%;
        margin-left: 35%;
        margin-right: 35%;
    }

    #contacts h3 {
        font-size: 100%;
    }

    #contacts p, li {
        font-size: 80%;
    }

    #contacts {
        display: grid;
        grid-template-rows: [title] auto [place] auto [hours] auto [contacts] auto [map] auto [end];
        grid-template-columns: auto;
    }

    #contacts h1 {
        grid-column: 1;
    }
    
    #office {
        grid-column: 1;
    }
    
    #schedule {
        grid-column: 1;
    }
    
    #contactInfo {
        grid-row: contacts/map;
        grid-column: 1;
    }
    
    #map {
        grid-row: map/end;
        grid-column: 1;
        margin-top: 5%;
        margin-left: 10%;
        height: 110%;
    }

    body>h1 {
        font-size: 170%;
    }

    #tableTitle {
        font-size: 170%;
        margin-left: 37%;
        margin-right: 37%;
    }

    #table th {
        font-size: 110%;
    }

    #table td {
        font-size: 90%;
    }

    #table {
        margin: 2em 1.5em;
    }

    .input-field input {
        width: 70%;
        margin-left: 15%;
        font-size: 1.2em;
    }

    .input-field label {
        left: 20%;
        font-size: 1.2em;
    }

    #loginButton {
        margin-left: 30%;
        width: 40%;
        font-size: 1.3em;
    }

    #profileTitle {
        font-size: 160%;
        margin-left: 37%;
        margin-right: 37%;
    }

    #change {
        font-size: 100%;
        margin-left: 47%;
        margin-right: 47%;
    }
   
    #profileInfo {
        margin-left: 0;
        margin-right: 0;
    }

    #profileInfo img {
        height: 100px;
        margin-top: 4%;
        margin-left: 1%;
    }

    #profileImg input[type="file"]{
        font-size:70%;
    }

    #img_sel{
        font-size:90%;
    }

    #editing>input[type="submit"]{
        width:35%;
    }

    #info {
        font-size: 80%;
        padding-left: 0;
    }

    #edit_profile>#edit_button {
        left: 90%;
    }

    #good_msg, #bad_msg{
        font-size: 90%;
    }

    #Schedule>h2 {
        font-size: 120%;
        margin-left: 40%;
        margin-right: 40%;
    }

    #scheduleTitle {
        font-size: 100%;
    }

    #Schedule>form input {
        margin-top: 3.5%;
        margin-bottom: 3.5%;
    }

    #scheduleTable {
        margin-left: 2%;
        margin-right: 2%;
    }

    #scheduleTable tbody {
        font-size: 60%;
    }

    #search label {
        font-size: 100%;
    }

    #search select {
        font-size: 70%;
    }

    #search button:first-of-type {
        font-size: 90%;
    }

    #trash {
        font-size: 90%;
    }

    .appointment h2 {
        font-size: 120%;
    }

    .appointment:not(h2) {
        font-size: 70%;
    }

    .appointment>section form textarea {
        width: 90%;
        font-size: 90%;
    }

    .appointment>section form input {
        font-size: 80%;
    }

    #team_mng {
        font-size: 120%;
        margin-left: 35%;
        margin-right: 35%;
    }

    #manage>form:first-of-type {
        font-size: 100%;
    }

    #hire, #fire {
        margin-left: 5%;
        margin-right: 5%;
    }

    #hire label, #hire > input, #add_client label, #add_client > input{
        font-size: 100%;
    }

    #fire select, #remove_client select{
        font-size: 84%;
        width:65%;
        margin:2% 18%;
    }

    #hire label, #add_client label {
        margin-left: 2%;
    }

    #hire p, #add_client p {
        font-size: 80%;
    }

    #hire input[type=submit], #fire input[type=submit], #hadd_client input[type=submit], #remove_client input[type=submit] {
        font-size: 100%;
    }

    #fire select, #remove_client select {
        font-size: 90%;
    }

    #stock, #manage_title {
        font-size: 140%;
        margin-left: 30%;
        margin-right: 30%;
    }

    #service_applied > label {
        padding: 2% 2%;
    }

    #service_applied > select {
        font-size: 90%;
    }

    #service_applied > input {
        font-size: 90%;
    }

    #mat_per_serv {
        font-size: 100%;
    }

    #management {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    #management h2 {
        font-size: 130%;
        margin-left: 37%;
        margin-right: 37%;
        margin-bottom: 5%;
    }

    #management h2:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    #remove_from_stock {
        grid-column: 1;
        grid-row: 2;       
    }

    #remove_mat {
        grid-column: 1;
        grid-row: 3;
    }

    #management h2:nth-child(2) {
        grid-column: 1;
        grid-row: 4;
    }

    #add_to_stock {
        grid-column: 1;
        grid-row: 5;       
    }

    #add_mat {
        grid-column: 1;
        grid-row: 6;
    }

    #remove_mat, #add_mat {
        font-size: 120%;
        width: 22%;
    }

    #mat {
        font-size: 130%;
        margin-left: 21%;
        margin-right: 21%;
    }

    #serv_material {
        grid-template-columns: 1fr;
    }

    #serv_material #service_list {
        margin: 4% 10%;
    }

    #client_mng {
        font-size: 130%;
        margin-left: 30%;
        margin-right: 30%;
    }

    #add_client, #remove_client {
        margin-left: 5%;
        margin-right: 5%;
    }

    #bookAppTitle {
        font-size: 130%;
        margin-left: 30%;
        margin-right: 30%;
    }

    #bookApp {
        margin-left: 10%;
        margin-right: 10%;
        height: 22em;
    }

    form>input:not([type="submit"]):not([type="radio"]), form>select {
        width: 40%;
    }

}