/* Dentist Office - Book Appointments Responsive */
/* Authors: Duarte Rodrigues, Mariana Xavier */

@media (max-width: 60em) {

    #bookAppTitle {
        font-size: 160%;
        margin-left: 35%;
        margin-right: 35%;
    }

    #bookApp {
        margin-left: 20%;
        margin-right: 20%;
        height: 23em;
    }

}

@media (max-width: 30em) {
    
    #bookAppTitle {
        font-size: 130%;
        margin-left: 30%;
        margin-right: 30%;
    }

    #bookApp {
        margin-left: 10%;
        margin-right: 10%;
        height: 22em;
    }

    form>input:not([type="submit"]):not([type="radio"]), form>select {
        width: 40%;
    }
}