/* Dentist Office - Tables Responsive */
/* Authors: Duarte Rodrigues, Mariana Xavier */

@media (max-width: 60em) {

    #tableTitle {
        font-size: 200%;
        margin-left: 41%;
        margin-right: 41%;
    }

    #table th {
        font-size: 130%;
    }

    #table {
        margin: 2em 8em;
    }

}

@media (max-width: 30em) {
    
    #tableTitle {
        font-size: 170%;
        margin-left: 37%;
        margin-right: 37%;
    }

    #table th {
        font-size: 110%;
    }

    #table td {
        font-size: 90%;
    }

    #table {
        margin: 2em 1.5em;
    }

}